h1{
font-size: 100px;
color: red;
text-align: center;
}
h2{
text-align: center;
font-size: px;
}
body {
    background-color: darkgrey;
}

.image{
    display:flex;
    justify-content: space-around;
    
}
img{
    width: 450px;

}
.imgcont {
    display: flex;
    justify-content: space-around;
}
.demimage {
    display: flex;
    flex-direction: column;

}